.nav{
    background: rgba(0, 0, 0, 0.274);
    width:fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0.3 rem 1.7rem;

    position: fixed;
    left: 50%;
  
    transform: translate(-50%);
    bottom:2rem;
    display: flex;
   
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 3rem;
    display: flex;
    color:var(--color-light);
    font-size: 1rem;
    gap:5px;

}
nav a:hover{
    background: rgba(46, 23, 23, 0.253);
}
nav a.active{
    background: var(--color-bg);
    color:var(--color-white);
}
/* media queries medium devices*/
@media screen and (max-width:600px){
    nav{
        transform: translate(95%);
    }}